<div class="video-container">
  <video id="video-{{ .Params.id }}" controls autoplay muted>
    <source src="{{ .Params.hls_url }}" type="application/x-mpegURL">
  </video>
  <script src="/js/hls.min.js"></script>
  <script>
    var video = document.getElementById('video-{{ .Params.id }}');
    var hlsUrl = '{{ .Params.hls_url }}';
    if (Hls.isSupported()) {
      var hls = new Hls();
      hls.loadSource(hlsUrl);
      hls.attachMedia(video);
    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
      video.src = hlsUrl;
    }
  </script>
</div>